.input-group {
  display: flex;
  /*justify-content: flex-end;*/
  justify-content: center;
}

#articlediv {
  /*display: flex;*/
  justify-content: center;
  align-content: center;
}

#articletable {
  /*display: none;*/
}

#articlepanel {
  display: none;
}

button, input {
}

#hiddentest {
  display: none;
}

#hiddentest1 {
}

